:root {
    --cell-size: 50px;
}

body {
    margin: 0
}

.board {
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content:center;
    display: grid;
    grid-template-columns: repeat(3,auto);
    
}
.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: centre;
    position:relative;
    text-align: center;
    cursor: pointer;
}

.cell.x, .cell.o {
 cursor: not-allowed;
}